importFrom('reshape2',melt,acast)
importFrom('mvtnorm',rmvnorm,rmvt)
importFrom('geigen',geigen)
importFrom('Matrix',bdiag)
importFrom('parallel',mclapply)

export(ccs.test)
export(gen.pcvar)
export(ll.test)
export(mc.ccs.test)
export(mc.rank.test)
export(meltdat)
export(rank.test)
export(trace.test)
